stages:
  - build
  - test

build:
  stage: build
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - cd Backend/user-auth-service
    - mvn clean compile

test:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - cd Backend/user-auth-service
    - mvn test