server:
  port: 8083

spring:
  application:
    name: ABSENCE-SERVICE

  datasource:
    url: jdbc:postgresql://postgres-absence:5432/gestion_absences
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    config:
      enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
