server:
  port: 8083


spring:
  application:
    name: ABSENCE-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/gestion_absences
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2KB
      location: ${java.io.tmpdir}
  # Desactiver Spring Cloud Config
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  eureka:
     client:
      service-url:
         defaultZone: http://localhost:8761/eureka

