server:
  port: 9092

spring:
  application:
    name: document-sharing   # tout en minuscules
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    url: jdbc:postgresql://localhost:5432/shared_documents_db
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    register-with-eureka: true      
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka


