server:
  port: 9090

eureka:
  client:
      service-url:
        defaultZone: http://localhost:8761/eureka


spring:
  application:
    name: user-auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user_auth_db
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: "nourelhouda.essafi@uit.ac.ma"
    password: "qvsu ezjk tffb vbtr"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


logging:
  level:
    org.springframework.security: DEBUG

  # Desactiver Spring Cloud Config
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false