@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #000000;
  --primary-foreground: #fcfcfc;
  --secondary: #f5f5f5;
  --secondary-foreground: #000000;
  --muted: #f5f5f5;
  --muted-foreground: #8e8e8e;
  --accent: #f5f5f5;
  --accent-foreground: #000000;
  --destructive: #ff4d4f;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #bdbdbd;
  --chart-1: #a3e635;
  --chart-2: #38bdf8;
  --chart-3: #818cf8;
  --chart-4: #fbbf24;
  --chart-5: #f472b6;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #000000;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #bdbdbd;
}

.dark {
  --background: #252525;
  --foreground: #fcfcfc;
  --card: #000000;
  --card-foreground: #fcfcfc;
  --popover: #000000;
  --popover-foreground: #fcfcfc;
  --primary: #ebebeb;
  --primary-foreground: #000000;
  --secondary: #434343;
  --secondary-foreground: #fcfcfc;
  --muted: #434343;
  --muted-foreground: #bdbdbd;
  --accent: #434343;
  --accent-foreground: #fcfcfc;
  --destructive: #ff7875;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
  --chart-1: #4ade80;
  --chart-2: #38bdf8;
  --chart-3: #f472b6;
  --chart-4: #818cf8;
  --chart-5: #fbbf24;
  --sidebar: #000000;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #4ade80;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input::placeholder, textarea::placeholder {
  color: var(--custom-placeholder-color, #bbbab8);
  opacity: 1;
}
