server:
  port: 8082


  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka




spring:
  application:
    name: EMPLOI-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/gestion_emplois
    username: postgres
    password: admin

  mail:
    host: smtp.gmail.com
    port: 587
    username: nourelhouda.essafi@uit.ac.ma
    password: "qvsu ezjk tffb vbtr"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Desactiver Spring Cloud Config
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

