server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gestion_emplois
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Desactiver Spring Cloud Config
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  config:
    import: "optional:file:./application.yml"

  autoconfigure:
    exclude:
      - org.springframework.cloud.autoconfigure.ConfigurationPropertiesRebinderAutoConfiguration
      - org.springframework.cloud.config.client.ConfigClientAutoConfiguration